@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("../public/images/backgrounds/felt-texture.png"), #7790ed;
}

@media (max-width: 1100px) {
  body {
    scale: 80%;
    /* need to fix margins and sizing individually  */
  }
  html{
    font-size: 12px;
  }
}
